<template>
	<div>
		<nuxt/>
	</div>
</template>


<script>
  import 'vue-datetime/dist/vue-datetime.css'
  import Footer from "../components/Footer";
  import Menu from "../components/Menu";

  export default {
    name: 'theme',
    components: {Menu, Footer},
    mounted() {
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/5e492a47a89cda5a1886379c/default';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
	}
  }
</script>

<style>
	@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
	
	#container {
		display: block;
		width: 100%;
		max-width: 860px;
		margin: auto;
	}
	
	* {
		font-family: 'Open Sans', sans-serif;
		text-decoration: none;
		outline: none;
		cursor: default;
		box-sizing: border-box;
	}
	
	html, body {
		padding: 0;
		margin: 0;
		font-size: 16px;
		word-spacing: 1px;
		-ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		box-sizing: border-box;
		/*background: url(/images/body.jpg) repeat;*/
		background: #ffffff;
		min-height: 100%;
	}
	
	*,
	*:before,
	*:after {
		box-sizing: border-box;
		margin: 0;
	}
</style>
