<template>
	
	<div>
		<Menu standalone/>
		<SubContent>
			<div style="margin-bottom: 20px"><img src="/images/preview.jpg"></div>
			<div>
				<div class="flight-paragraphs">
					<p>Butterfly Balloon flights are a true pleasure. We have no time constraints however; you may have tours scheduled so we anticipate flying for an hour, sometimes a little more. We will collect you from your hotel around sunrise (it really is the best time of the day) for the
						Butterfly Flight and the Beyond Flight, 30 minutes later for the Bright Flight, and take you to the home of Butterfly Balloons in Goreme. You will be offered a light breakfast while our pilots check the weather conditions and decide on the best launch site for the preferred
						flight path.
					</p>
					<p>Once at the launch site there will be a full safety briefing and you will have first hand experience of the balloon inflation. The crew will help you into the basket and when everyone is happy and comfortable, the moment you have dreamt of...up, up and away!</p>
					<p>Below you, a unique landscape, a combination of natural beauty and a deep and complex history. From the balloon you will see it, feel it and fall in love with it.</p>
					<p><i>At the end of a fantastic Butterfly Balloon flight we will celebrate the experience with champagne, shared stories and friendship. Before we return to your hotel, passengers each receive a personalised commemorative flight certificate and our sincere thanks for sharing the
						best part of our day.</i></p>
					<p>“When you witness the freedom and beauty of a butterfly, make a wish and realise that you may have been touched by an angel.”</p>
				</div>
			</div>
			<div class="subsection-title">
				<span>Butterfly Flight</span>
			</div>
			<div>
				<div class="flight-paragraphs">
					<p>We don't use the term standard for this flight as it offers way more than a standard flight in Cappadocia.</p>
					<p><b>Duration</b> is minimum one hour and then some… and our pilots do their utmost to make it one of the most memorable hours of your life. From your pick-up at the hotel through to drop-off, time equals approximately three hours; depending on your hotel's location and the time of year, you will usually be back before 9am and will comfortably be able to join a daily excursion.</p>
					<p><b>Numbers</b> of people in the basket ranges from 16 to 20 depending on the balloon size. Our baskets are Double-T, which means divided into 5 compartments. The central one is for the pilot and the tanks whilst the four corner compartments are for passengers, so even in our largest balloon there will not be more than 5 in a compartment. We respect our guests’ personal space and believe in leg-room for greatest comfort.</p>
					<p><b>Transfers</b> with minibuses are included to the flight price. We will pick you up around half an hour before sunrise at your hotel and return you after the flight.</p>
					<p><b>Insurance</b> covers both the flight and ground handling and is included. Our passengers, pilots and third parties are covered by our policy for up to 40 Million Euro. We often receive requests from tour operators for the insurance details so have put our policy issued by Eureko BV ( <a href="/insurance.pdf" target="_blank" style="cursor: pointer">view</a> )</p>
					<p><b>Breakfast</b> is served at our office before take-off. You can have filter coffee or tea with a selection of pastries and fruit.</p>
					<p><b>Champagne</b> (chilled) is the most important detail of completing a balloon flight for pilots. So we serve the best champagne after each flight with a selection of cakes. Champagne is actually a ballooning tradition; since the Montgolfier brothers made the first flight in 1873 and celebrated a successful landing with champagne. During winter, we also serve mulled wine as the ambient temperature is usually below zero!</p>
					<p><b>Certificates</b> are given as commemorative gifts. Although your pilot might claim that you are licensed to fly with them, don't take it seriously! It's just the side effect of the champagne...</p>
					<p><b>Children</b> between 6 and 12 years old can fly with their parents and they pay the standart rate. Unfortunately we can not accept younger children as they can get a little bored and uncomfortable due to having to stand for an hour plus in the same place</p>
				</div>
			</div>
			<div class="subsection-title">
				<span>Butterfly Flight</span>
			</div>
			<div class="flight-paragraphs">
				<p>We do not operate the Beyond Flight from 01st November to 31st March due to unsuitable weather conditions </p>
				<p>So what's the difference between  Butterfly Flight and Butterfly BEYOND Flight?</p>
				<p>To begin with, the Beyond flight <b>includes everything</b> that a Butterfly Flights offers...</p>
				<p>and more; you will be airborne for 1.5 to 2 hours. With the Beyond option there will be a maximum of 3 people in your compartment therefore, in total, not more than 12 passengers. This ensures that you have a freedom of space for viewing and photographing the breath-taking vista of Cappadocia. The Beyond flight  will take off far from the other balloons and finish the flight way beyond.</p>
				<p>Even though the flight path completely depends on the wind conditions of the day, Our pilot's experinces  usually ensures that you see twice more than on any other balloon flight.</p>
				<p>Invariably there are longer landing parties with Beyond flights with even more champagne. Also given on a Beyond flight; a Butterfly Balloon shaped, limited edition pin as a memory of your Beyond flight</p>
			</div>
			<div class="subsection-title">
				<span>Gift Certificate</span>
			</div>
			<div class="flight-paragraphs">
				<p>Book the flight as a gift certificate! Give the gift of one's life time with a Hot Air Balloon flight above Cappadocia with Butterfly Balloons. There is no better way to experience the beauty of this unique lunar landscape than from the vantage point of a hot air balloon flight! Moments that will last a lifetime will make this a most memorable gift! The uniqueness of Butterfly Balloons' experience is featured in detail in Lonely Planet.</p>
				<p>Our Gift Vouchers can be purchased by simply completing the form on the left or calling our office at +90-384-271-3010. Please state that you want to book the flight as gift in the notes section of the form. Once it is confirmed, we will send you the voucher by email. The gift certificates will be valid for any day for one year from the date of issue. However, to ensure a flight booking on the desired date we should be contacted at least a couple of weeks in advance.</p>
				<p>​If the flight is canceled due to weather conditions, you will be able to keep trying alternative dates. Balloon Gift CertificateThe gift certificates are non-refundable and have the same prices as our regular flights. Ask for special rates</p>
				
			</div>
		</SubContent>
		<Footer/>
	</div>

</template>

<script>
  import Menu from "~/components/Menu";
  import Footer from "~/components/Footer";
  import SubContent from "~/components/SubContent";

  export default {
    components: {SubContent, Footer, Menu},
    head: {
      title: 'Contact Us',
    }
  }
</script>

<style lang="scss">
	
	.subsection-title {
		display: block;
		position: relative;
		border-bottom: solid 3px #333;
		margin: 25px 0;
		
		> span {
			display: inline-block;
			color: #0079da;
			font-weight: bold;
			position: absolute;
			font-size: 20px;
			left: 50%;
			transform: translateX(-50%);
			top: -15px;
			background: #ffffff;
			padding: 0 15px;
			pointer-events: none;
			user-select: none;
		}
	}
	
	.flight-paragraphs {
		
		p {
			display: block;
			margin-bottom: 15px;
			text-align: justify;
		}
		
	}
</style>
