<template>
	
	<div>
		<Menu/>
		<AnimationHeader @selected="checkVacancy"/>
		<Reservation ref="reservation"/>
		<div id="container">
			<div id="middle_description">
				<section id="md_left_container">
					<div class="md__item">
						<div><img src="/images/stars-pink.svg" alt="Effective"></div>
						<strong>Number One</strong>
						<p>In less than 2 years Butterfly became number 1 on numerous travel forums, recommended by many guide books including Lonely Planet and, the first choice of Rick Steves in the USA</p>
					</div>
					<div class="md__item">
						<div><img src="/images/thumb-pink.svg" alt="Effective"></div>
						<strong>Most Loved</strong>
						<p>We successfully have flown thousands of our guests and reached the top with your support. This success belongs to all our visitors, which made us the most admired flight company</p>
					</div>
				</section>
				<section id="md_right_container">
					<div class="md__item">
						<div><img src="/images/calendar-pink.svg" alt="Effective"></div>
						<strong>Flexible</strong>
						<p>Plan your flight as you wish. Pay securely with our online reservation system, and you can cancel your reservation without interruption until the last 72 hour</p>
					</div>
					<div class="md__item">
						<div><img src="/images/security-pink.svg" alt="Effective"></div>
						<strong>Safety First</strong>
						<p>Our flight policy is based on safety first, we make sure all conditions are sufficient before flight. With over 10 years of experience, we flew all our passengers safely without any accident</p>
					</div>
				</section>
			</div>
		</div>
		<div id="cappadocia_land_container">
			<div>
				<div class="stepper">
					<div>
						<img src="/images/step1.png" alt="Capadoccia">
					</div>
					<p>
						<b>Free pickup</b>
						We will pick you up from your hostel on the morning of the flight.
					</p>
				</div>
				<div class="dot-line"></div>
				<div class="stepper rl">
					<p>
						<b>Free breakfast</b>
						While you enjoy the light breakfast, we make sure everything is ready for the perfect flight experience.
					</p>
					<div>
						<img src="/images/step2.png" alt="Capadoccia">
					</div>
				</div>
				<div class="dot-line reverse"></div>
				<div class="stepper">
					<div>
						<img src="/images/step3.png" alt="Capadoccia">
					</div>
					<p>
						<b>Enjoy your flight !</b>
						Enjoy your flight that takes at least an hour and a magnificent view of Cappadocia
					</p>
				</div>
			</div>
		</div>
		<Footer/>
		<div id="sars-cov-2-announcement" v-if="false">
			<div>
				<!-- <div><img src="/images/sarscov2-precoutions.png" alt="SARS-2CoV-2"></div> -->
				<p style="text-align: center; font-weight: bold">Dear guests</p>
				<p>We are updating our website. If you have any problem please reach out via WhatsApp +905358730300 or live chat</p>
				<p>Also, our team is open 24/7 to answer your inquires.</p>
				<div style="text-align: center">
					<button @click="close">Close</button>
				</div>
			</div>
		</div>
	</div>

</template>

<script>
  import AnimationHeader from "~/components/AnimationHeader";
  import Menu from "~/components/Menu";
  import Footer from "../components/Footer";
  import Reservation from "../components/Reservation";

  export default {
    name: 'index',
    head: {
      title: 'Butterfly Balloons'
    },
    components: {Reservation, Footer, Menu, AnimationHeader},
    methods: {
      checkVacancy(date) {
        this.$refs.reservation.setup(date)
      },
	  close() {
        this.$store.commit('closeANNOUNCEMENT')
	  }
    }
  }
</script>

<style lang="scss">
	#sars-cov-2-announcement {
		position: fixed;
		z-index: 9999;
		background: rgba(0,0,0,0.5);
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		
		> div {
			width: 100%;
			box-sizing: border-box;
			padding: 25px 15px;
			background: #ffffff;
			max-width: 400px;
			border-radius: 6px;
			color: #333;
			font-size: 14px;
			
			> div {
				text-align: center;
			}
			
			p {
				display: block;
				padding: 10px;
			}
			
			button {
				padding: 10px 15px;
				color: #0079da;
				background: whitesmoke;
				border: solid 1px #0079da;
				font-weight: bold;
				border-radius: 15px;
				cursor: pointer;
				font-size: 13px;
			}
		}
	}
	
	.stepper {
		max-width: 650px;
		margin: auto;
		display: flex;
		align-items: center;
		padding: 20px 0;
		
		&.rl {
			> div {
				text-align: right;
			}
		}
		
		> div {
			flex: 1;
			text-align: left;
		}
		
		p {
			flex: 1;
			padding: 0;
			color: #474747;
			
			b {
				display: block;
				margin-bottom: 25px;
			}
		}
	}
	
	.dot-line {
		background: url(/images/dash-path.png) no-repeat 50% 50%;
		max-width: 475px;
		height: 50px;
		display: block;
		margin: auto;
		
		&.reverse {
			transform: rotateX(-180deg);
		}
	}
	
	#cappadocia_land_container {
		width: 100%;
		min-height: 620px;
		padding: 0;
		background: none;
		overflow: hidden;
		
		> div {
			max-width: 860px;
			width: 100%;
			box-sizing: border-box;
			padding: 130px 20px 20px 20px;
			margin: auto;
		}
		
		@media screen and (min-width: 768px) {
			background: url("/images/cappadocia-illustration-left.png") no-repeat 0 100%, url("/images/cappadocia-illustration-right.png") no-repeat 100% 100%, url("/images/birds.gif") no-repeat 50% 0, url("/images/cappadocia-illustration-cloud.png") no-repeat 50% 0;
			> div {
				background-color: transparent;
			}
		}
	}
	
	#middle_description {
		padding: 20px 0;
		text-align: center;
		
		> img {
			margin: auto;
		}
		
		.md__item {
			text-align: left;
			padding: 15px 10px;
			
			> div {
				text-align: center;
				pointer-events: none;
			}
			
			strong {
				text-align: center;
				display: block;
			}
			
			p {
				font-size: 13px;
			}
		}
		
		@media screen and (min-width: 768px) {
			display: flex;
			position: relative;
			align-items: center;
			
			.md__item {
				
				> div {
					text-align: left;
				}
				
				strong {
					text-align: left;
				}
			}
			
			> img {
				order: 1;
				margin: 0 25px;
			}
			
			#md_left_container {
				order: 0;
			}
			#md_right_container {
				order: 2;
			}
		}
	}
</style>
